@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap");
#recipeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
#recipeList img {
  width: 200px;
  height: 200px;
  justify-content: center;
  margin: 10px;
  border-radius: 10%;
}
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}
.welcome img {
  width: 500px;
  height: 300px;
  border-radius: 10%;
}
.website-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.website-name h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
}
.website-name p {
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  font-family: "Pacifico", cursive;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.search-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}
.search-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 16px;

  width: 200px;
}
.navbar {
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  list-style-type: none;
  font-family: "Dancing Script", cursive;
}
.recipe-details {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Arrange elements side-by-side */
  flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
}

.recipe-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.recipe-details img {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  object-fit: cover; /* Maintains aspect ratio and resize image */
  border-radius: 10%;
}

.recipe-details p {
  margin-bottom: 15px;
  font-family: "Playwrite AU QLD", cursive;
  color: black;
}

.recipe-details ul,
.recipe-details ol {
  padding-left: 20px;
  margin-bottom: 15px;
  font-family: "Playwrite AU QLD", cursive;
  color: black;
}

.recipe-details li {
  line-height: 1.5;
}

.recipe-details .video-container {
  width: 100%; /* Stretch video container to full width */
  margin-bottom: 15px;
}

.recipe-details .back-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.chicken-images {
  display: flex;
  flex-direction: row;
}
.chicken-images img {
  width: 400px;
  height: 400px;
  margin: 10px;
  margin-left: 30px;
  border-radius: 10%;
}
h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
h3 {
  text-align: center;
  font-family: "Playwrite VN", cursive;
  color: black;
}
hr {
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}
body {
  background-color: #fff; /* Light mode background */
  color: #333; /* Light mode text color */
}

.dark-mode {
  background-color: #333; /* Dark mode background */
  color: #fff; /* Dark mode text color */
}
#recipeNav {
  display: flex;
  flex-direction: row;
}
#recipeNav li {
  margin: 10px;
  list-style-type: none;
}

.zoom-effect:hover {
  transform: scale(1.1);
  opacity: 1;
}
